<header>
  <a class="logo-big" href="/index">NAVIGATOR PERFORMANCE</a>
  <a class="logo-small" href="/index">NAVIGATOR</a>
  <div class="right-section">
    <nav>
      <ul>
        <li><a class="menu-link" href="/index#services">Услуги</a></li>
        <li><a class="menu-link" href="/about">О нас</a></li>
        <li><a class="menu-link" href="/contacts">Контакты</a></li>
      </ul>
    </nav>

    <div class="contact-info">
      <div class="contact-details">
        <span>Служба продаж</span>
        <span>+7 812 488-0-488</span>
      </div>
      <button class="button" id="appointment-button">Записаться</button>
      <script src="/scripts/appointment.js"></script>
    </div>
  </div>
</header>