<meta charset="UTF-8">
<meta name="description" content="NAVIGATOR PERFORMANCE - тюнинг-ателье нового уровня">
<meta name="keywords" content="авто, автомобиль, машина, тюнинг, ателье, производительность, улучшение, оптимизация">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NAVIGATOR PERFORMANCE</title>
<link rel="stylesheet" href="/style.css">
<script src="/scripts/page_load_time.js"></script>
<script src="/scripts/active_page.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/yup@1.4.0/index.js"></script>
<script src="/scripts/auth.js" defer></script>
<script src="/scripts/hide_auth.js"></script>
<script src="/scripts/registration.js"></script>