<!DOCTYPE html>
<html lang="ru">
{{> head }}
<body>
{{> header }}
<main>
  <section class="about">

    <div class="about-content">
      <h1>О нас</h1>
      <p>
        <strong>Navigator Performance</strong> — это эксклюзивное тюнинг-ателье премиум-класса, основанное в 2008 году в Санкт-Петербурге.
        Мы вдохновляем на трансформацию автомобилей, создавая уникальные шедевры, которые сочетают в себе исключительную производительность,
        стиль и приверженность высоким стандартам. В нашем ателье ваши мечты об идеальном автомобиле становятся реальностью.
      </p>

      <h2>Наша команда</h2>
      <p>
        Мы гордимся нашей командой высококвалифицированных специалистов, каждый из которых обладает многолетним опытом в автомобильной индустрии.
        Наши мастера увлечены своей работой и владеют искусством детейлинга, мощностного тюнинга, кузовных работ и подготовки автомобилей к соревнованиям.
        Мы с энтузиазмом принимаем вызовы и готовы реализовать самые смелые проекты, вдохновляя наших клиентов на новые свершения.
      </p>
    </div>
    <img src="img/service_about.jpg" alt="Люксовый автомобиль с профессиональным тюнингом на фоне городской архитектуры" class="about-image">
  </section>

  <section class="advantages">
    <h2>Наши преимущества</h2>
    <div class="advantages-container">
      <div class="advantage-item">
        <img src="icons/maintenance.png" alt="Мастера своего дела">
        <h3>Мастера своего дела</h3>
        <p>Наши сотрудники — профессионалы со стажем работы от 5 лет.</p>
      </div>
      <div class="advantage-item">
        <img src="icons/calendar.png" alt="Быстро">
        <h3>Быстро</h3>
        <p>Выполним работу в максимально короткие сроки.</p>
      </div>
      <div class="advantage-item">
        <img src="icons/equipment.png" alt="Лучшее оборудование">
        <h3>Качественное оборудование</h3>
        <p>Оборудование от лучших производителей.</p>
      </div>
      <div class="advantage-item">
        <img src="icons/quality.png" alt="Гарантия качества">
        <h3>Гарантия качества</h3>
        <p>Гарантия от 1 года на все виды работ.</p>
      </div>
    </div>
  </section>

</main>
{{> footer }}

</body>
</html>
